body{
    background-color: #151515;
    color: white;
}

h1,footer{
    text-align: center;
    padding-top: 20px;
}
div,p,button,h3{
    margin: 2px;
}
.product-image{
    width: 100px;
    height:120px;
}
#products{
  padding-inline: clamp(20px, 5vw, 100px);
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    width: 280px;
    background-color: #232323;
    border: 1px solid #aaaa;
    border-radius: 6px;
    transition: 0.3s;

}
.product-container.expand{
    height: auto;
}
.product-container:hover{
    border:1px solid #229;
   
}
.product-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 18px;
margin: 10px;
}
.product-title.open{
    -webkit-line-clamp: unset;

}
.product-title-wrapper{
display: flex;
    align-items: flex-start;
    padding: 10px;
}
.product-title-wrapper.open{
    flex-direction: column;
}
.product-description{
    font-size: 13px;
  
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
    overflow: hidden;
    transition: 0.3s;
   margin: 5px;
}
.description-wrapper{
    display: flex;
  align-items: center;
  padding: 10px;
}
.description-wrapper.open{
    flex-direction: column;
}
.product-description.open{
-webkit-line-clamp:unset;
font-size: 14px;

}
.product-description-button{
    background-color:transparent;
    border: 1px solid #aaaa;
    border-radius: 15px;
    color: #aaa;
    margin-bottom: 10px;
    
}
.product-description-button:hover{
    border: 1px solid #756522;
}
.product-add-button{
    background-color: #283;
    padding: 10px;
    border-radius: 6px;
    border:1px solid #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 5px;
    transition: 0.3s;
}
.product-add-button:hover{
    border:1px solid #228
}
.cart-payment-container{
  display: flex;
    justify-content: flex-end;
}
.cart-payment{
    background-color: #283;
    padding: 14px;
    border-radius: 8px ;
    font-size: 24px;
    margin: 10px;
  
}
.cart-amount{
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
padding: 20px;
background-color: #aaaa;
border-radius: 8px;
margin: 10px;
}
.cart-image{
width: 70px;
height: 70px;
}
.cart-section{

margin: 10px;
}
.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
        width: 100%;
}

.cart-title{
    width: 25%;
}

.cart-quantity{
width: 50px;
display: flex;
flex-direction: row;
gap: 2px;
}

.cart-add-button{
background-color: #283;
border-radius: 4px;
color: white;
}

.cart-del-button{
background-color: #f30;
color: #f1f1f1;
border-radius: 4px;
}
.cart-delete-button{
background-color: #f00001;
color: #f1f1f1;
margin:12px;
border-radius: 6px;
padding: 2px 6px;
}

.cart-image{
    margin:10px;
}

.cart-modal{
  
    position:fixed;
    inset:0;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
   
 
}
.cart-modal-title{
    color: #283;
}
.cart-modal-content{
     width: 280px;
    background:#dddd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
   
    color: #121212;
     border:2px solid black;
}
.payment-modal-content{
width: 300px;
height: 500px;
font-size: 30px;
display: flex;
justify-content: space-between;
}
.credit-payment-flag{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   
   
}
.credit-card-payment{
width: 800px;
  font-size: 18px;
height: 500px;
display: flex;
justify-content: space-between;
align-items: center;
}
.credit-card-input{
    width:80%;
    font-size: 26px;
}
.cart.payment.modal{
    position:fixed;
    inset:0;
    background:transparent;
}
.installments-select{
    margin: 30px;
    font-size: 22px;
}
.navigation-modal{
    position: fixed;
    inset: 0;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
     transform: translateX(-100%);
     animation: openMenu 0.5s forwards;
}
.navigation-modal-content{
    width: 180px;
    height: 90vh;
    background: #dddd;
    display: flex;
    flex-direction: column;
    padding: 20px;

    justify-content: space-between;
    border-radius: 10px;
        color: #121212;
     border:2px solid black;
}
@keyframes openMenu{
    to{
        transform: translateX(0);
    }
}
.navigation-div{
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
margin-top: 20px;



}
.navigation-div:hover{
background-color: #212121;
border-radius: 10px;
}
.navigation-home,.navigation-cart{
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    margin: 10px;
   
}
.navigation-cart:hover,.navigation-home:hover{
    color: #283;
}
.navigation-close{
display: flex;

align-items: flex-end;
}

.credit-image{
    width: 100px;
    height: 100px;
}

.payment-button{
padding: 8px;
border-radius: 8px;
width: 80px;
}